<div class="card">
    <h2>📄 Create New Contract</h2>

    <form method="POST" action="/create_contract">

        <input name="customer_name" placeholder="Customer Name" required>
        <input name="customer_phone" placeholder="Phone" required>

        <!-- السيارات المتاحة فقط -->
        <select name="car_id" required>
            <option value="">🚗 Select Available Car</option>

            {% for car in cars %}
                <option value="{{ car.id }}">
                    {{ car.model }} - {{ car.plate }} ({{ car.daily_rate }} JOD/day)
                </option>
            {% endfor %}
        </select>

        <input type="date" name="start_date" required>
        <input type="date" name="end_date" required>

        <input name="total_price" placeholder="Total Price" readonly>

        <button class="btn btn-add" type="submit">Create Contract</button>
    </form>
</div>
